/*Toast*/
.contenedor-toast{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.toast{
    background: #ccc;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    animation-name: apertura;
    animation-duration: 200ms;
    animation-timing-function: ease-out;/*para que la transicion inicie rapido pero termine despacio*/
    position: relative;
    overflow: hidden;
}
.toast.exito{
    background: var(--exito);
}
.toast.error{
    background: var(--error);
}
.toast.warning{
    background: var(--warning);
}
.toast.info{
    background: var(--info);
}
.toast .contenido_toast{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.toast .titulo{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.toast .btn-cerrar{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0px 5px;
    transition: 0.3s ease all;
}
.toast .btn-cerrar:hover{
    background: rgba(0, 0, 0, 0.3);
}
.toast .icono{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}
.toast .icono span{
    color: rgba(0, 0, 0, 0.3);
}
.toast span{
    font-size: 30px;
    color: #fff;
}
@keyframes apertura{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.toast.cerrando{
    animation-name: cierre;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;/*para que despues de la animacion se quede en la ultima posicion*/
}
@keyframes cierre{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(100% + 40px));
    }
}
.toast.autoCierre::after{
    content: "";
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    animation-name: autoCierre;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;/*para que despues de la animacion se quede en la ultima posicion*/
}
@keyframes autoCierre{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}
@media screen and (max-width: 850px){
    .contenedor-toast {
        position: fixed;
        left: 50%; /* Centra horizontalmente */
        transform: translateX(-50%); /* Asegura el centrado correcto */
        bottom: 10px;
        width: 100%;
        max-width: 300px;
        gap: 10px;
    }
    .contenedor-toast.registrarse {
        position: fixed;
        top: 10px;  /*Coloca el contenedor en la parte superior */
        left: 50%; /* Centra horizontalmente */
        transform: translateX(-50%); /* Asegura el centrado correcto */
        bottom: auto; /* Resetea cualquier valor de bottom previo */
        width: 100%;
        max-width: 300px;
        gap: 10px;
    }
}