@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    /*estilo cuerpo total*/
    --color-body: rgb(240,242,245);
    --color-contenido: rgb(255,255,255);
    --color-titulo-contenido: rgb(5,5,29);
    --color-parrafo-contenido: rgb(58,59,60);
    --color-fondo-icono: rgb(228,230,235);
    --color-icono-menu: rgb(5,5,5);
    --color-fondo-hover-icono: rgb(216,218,223);
    --color-icono: rgb(132,132,132);
    /*estilos encabezado*/
    --color-fondo-hero_1:rgb(255,255,255);
    --color-texto-hero_1: rgb(101,103,107);
    /*Estilo sidebar*/
    --color-barra-lateral:rgb(255,255,255);
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);
    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb(0,0,0);
    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);
    --color-linea:rgb(180,180,180);
    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}
.dark-mode{
    /*estilo cuerpo total*/
    --color-body: rgb(24,25,26);
    --color-contenido: rgb(36,37,38);
    --color-titulo-contenido: rgb(228,230,223);
    --color-parrafo-contenido: rgb(212,212,212);
    --color-fondo-icono: rgb(58,59,60);
    --color-icono: rgb(132,132,132);
    --color-fondo-hover-icono: rgb(78,79,80);
    --color-icono-menu: rgb(228,230,235);
    /*estilos encabezado*/
    --color-fondo-hero_1:rgb(36,37,38);
    --color-texto-hero_1: rgb(176,179,184);
    /*Estilo sidebar*/
    --color-barra-lateral:rgb(44,45,49);
    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);
    --color-menu-hover:rgb(0,0,0);
    --color-menu-hover-texto:rgb(238,238,238);
    --color-boton:rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);
    --color-linea:rgb(90,90,90);
    --color-switch-base :rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);
    --color-scroll:rgb(68,69,74);
    --color-scroll-hover:rgb(85,85,85);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--color-body);
}
html{
    font-size: 16px;
}
li{
    list-style-type: none;/*elimina los marcadores como puntos*/
}
/**********hero_1**********/
.hero_1{
    background-color: var(--color-fondo-hero_1);
    width: 100%;
    transition: background 0.5s;
    padding: 0.2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contenedor{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    align-items: center;/*Centrar verticalmente los elementos de contenedor*/
    justify-content: space-between;
}
.hero_1 .contenedor nav ul{
    display: flex;
    gap: 1rem;
}
.hero_1 .contenedor nav ul li a{
    color: var(--color-texto-hero_1);
    font-weight: bold; /* Texto en negrita */
    position: relative;
}
.hero_1 .contenedor nav ul li a::after{
    content: " ";
    width: 0;
    height: 2px;
    background-color: rgb(151,194,30);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.hero_1 .contenedor nav ul li a:hover:after{
    width: 100%;
    right: 0;
}
.hero_1 .icono-menu{
    cursor: pointer;
    background-color: var(--color-fondo-icono);
    color: var(--color-icono-menu);
    height: 40px;
    width: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.hero_1 .icono-menu:hover{
    background-color: var(--color-fondo-hover-icono);
}
.favoritos_compras{
    color: var(--color-icono);
    display: flex;
    gap: 1rem;
}
.hero_1 .logo,.hero_1 .favoritos_compras{
    display: none;
}
/*--->switch*/
.hero_1 .modo-oscuro .switch{/*el switch esta en el bloque de modo oscuro*/
    display: flex;/*display flex para que los hijos bloque se coloque horizontalmente*/
    align-items: center;/*centraremos horizontalmente los elementos hijos*/
    justify-content: center;/*centraremos verticalmente los elementos hijos(solo esta base)*/
    min-width: 50px;/*el ancho minimo sera de 45 pixeles*/
    cursor: pointer;/*cuando el cursor este sobre este elemento pasara a ser un puntero*/
}
.hero_1 .modo-oscuro .base{
    position: relative;/*tendra position relative porque estarea en su posicion normal respecto a la posicion del documento, ademas esto me permite decir que el bloque hijo se posicione respecto a este bloque padre, la verdad no habria diferencia entre que sea position absolute o position relative en este caso porque el elemento que se posicionara sobre este es el hijo*/
    display: flex;/*display flex para poder centrar su elemento hijo horizontalmente*/
    align-items: center;
    width: 35px;/*el switch tendra un ancho de 35 pixeles*/
    height: 20px;/*el switch tendra un alto de 20 pixeles*/
    background-color: var(--color-switch-base);/*el color de fondo del switch*/
    border-radius: 50px;/*el radio de los bordes*/
}
.hero_1 .modo-oscuro .circulo{/*es el circulo del */
    position: absolute;/*se posicionara sobre el ultimo elemento posicionado*/
    width: 18px;/*el ancho del circulo sera 18 pixeles*/
    height: 90%;/*el alto del circulo sera el 90% del alto del contenedor padre*/
    background-color: var(--color-switch-circulo);/*el color de fondo del circulo*/
    border-radius: 50%;/*el radio sera del 50% del lado mas largo del bloque*/
    left: 2px;/*un desplazamiento de izquierda a derecha de 2 pixeles*/
    transition: left 0.5s ease;/*transicion de left*/
}
aside .modo-oscuro .circulo.prendido{/*cuando se presione left tendra este valor*/
    left: 15px;
}

/****************************************main****************************************/

/*footer*/
footer{
    width: 100%;
    /*background-color: var(--color-footer);*/
    display: flex;
    justify-content: center;/*centrar horizontalmente*/
}
.contenido-footer{
    width: 95%;
    margin: 20px 0;
    border-radius: 20px;
    background-color: var(--color-contenido);
    display: flex;
    justify-content: center;/*centrar horizontalmente*/
    flex-direction: column;
    align-items: center;/*centrar verticalmente*/
    box-sizing: border-box;/*esto hace que el ancho total, osea contenido, padding y borde sea del ancho anteriormente configurado, encambio box-sizing: content-box; que es por defecto sumaria el padding y el ancho del borde al tamaño total del bloque*/
    transition: background 0.5s;
}
.espaciado-footer{
    height: 20px;
}
footer img{
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}
.bloques-footer{
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;/*se distribuye automaticamente a la siguiente linea*/
    justify-content: center;/*centrar horizontalmente*/
    gap: 50px;/*espaciado entre bloques de 50px*/
    margin-bottom: 40px;
    overflow: hidden;
}
.bloque-footer{
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
}
.bloque-footer h4{/*estilo de la letra*/
    font-size: 1.5rem;
    color: var(--color-titulo-contenido);
    font-weight: bold; /* Texto en negrita */
    overflow: hidden;
}
.bloque-footer p{
    color: var(--color-parrafo-contenido);
    margin: 0;
    font-size: 1.2rem;
    overflow: hidden;
}
.subbloque-footer{
    display: flex;
    align-content: center;/*centrar horizontalmente*/
    gap: 0.5rem;
    overflow: hidden;
}
.subbloque-footer span{
    color: var(--color-body-principal);
    font-size: 50px;
    align-content: center;/*centrar horizontalmente*/
}
.contacto-footer p span, .tipos_envio-footer p span{
    font-size: 1.2rem;
}
/*sidebar*/
.menu_sidebar{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);/*cambia el color del texto*/
    justify-content: space-between;
}
aside .menu_sidebar img{/*ña imagen del usuario*/
    width: 150px;/*tendra un ancho de 50 pixeles*/
    min-width: 150px;/*el ancho minimo de la imagen es 50 pixeles*/
    border-radius: 10px;/*el radio de la imagen es 10 pixeles*/
}
aside{
    position: fixed;/*Se posicionara sobre la ventana principal y estara en relacion a la posicion de pantalla, osea si bajo esta barra no se movera*/
    display: flex;/*que los bloques se podran acomodar verticalmente*/
    flex-direction: column;/*ahora estan en columna*/
    justify-content: space-between;/*los elementos estaran separados */
    width: 250px;/*es el ancho del bloque*/
    height: 100vh;/*la altura es el 100% del body*/
    overflow: hidden;/*si algo sobrepasas estas dimensiones se ocultará*/
    padding: 20px 15px;/*tendrá un padding de 20px para el alto y bajo y 15px para los laterales*/
    background-color: var(--color-barra-lateral);/*es el color de fondo de la barra lateral*/
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;/*tendra una transición de ancho, de color de fondo y cuando la posición horizontal desde la izquierda cambia tendran un tiempo de transición*/
    z-index: 50;/*este bloque estará en el z-index:50, por lo tanto estará ubicado sobre los demas elementos*/
    left: -250px;
}
aside.mostrar-sidebar{
    left: 0px;
}
/*estilo sidebar*/
aside .texto-sidebar{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
/*bloque de navegación*/
aside .navegacion{
    height: 100%;/*Tendra todo el alto disponible*/
    overflow-y: auto;/*para que cuando el contenido sobrepase el ancho se genere una barra deslizante vertical o scroll vertical*/
    overflow-x: hidden;/*suando el contenido sobrepase el ancho se oculte*/
}
aside .navegacion::-webkit-scrollbar{/*Este pseudo-elemento específico de WebKit (motor utilizado por navegadores como Chrome y Safari) selecciona la barra de desplazamiento del elemento.*/
    width: 5px;/*El ancho de la barra de desplazamiento sera de 5 pixeles*/
}
aside .navegacion::-webkit-scrollbar-thumb{/*de la barra de desplazamiento seleccionamos el thumb que es la barrita pequeña que se desplaza en la barra de desplazamiento con el fin de bajar o subir*/
    background-color: var(--color-scroll);/*el color del thumb del scrool*/
    border-radius: 5px;/*las esquinas del thumb seran redondeadas*/
}
aside .navegacion::-webkit-scrollbar-thumb:hover{/*cuando el mause se posicione sobre el thumb del scroll este cambiara su color*/
    background-color: var(--color-scroll-hover);
}
aside .navegacion li{  
    /*list-style: none;*/
    display: flex;
    margin-bottom: 5px;/*todos los li tendran un margen inferior de 5 pixeles*/
}
aside .navegacion a{
    width: 100%;/*el hipervinculo tendra un ancho del 100% del contenedor padre*/
    height: 45px;/*el elemento de hipervinculo tendra un ancho de 45 pixeles*/
    display: flex;/*los elementos se pondran horixontalmente, esto me permitira usar el siguiente estilo */
    align-items: center;/*para centrar verticalmente a los elemetos*/
    text-decoration: none;/*elimina cualquier decoración de texto como subrayado, tachado*/
    border-radius: 10px;/*el redondeado de las esquinas del hipervinculo "a" que funcionará como boton*/
    color: var(--color-texto-menu);/*cambia el color del texto*/
}
aside .navegacion a:hover{/*cuando el puntero se posicione sobre a*/
    background-color: var(--color-menu-hover);/*cambia el fondo del hipervinculo*/
    color: var(--color-menu-hover-texto);/*cambia el color del texto del hipervinculo*/
}
aside .navegacion a.active{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);/*cambia el color del texto del hipervinculo*/
}
aside .navegacion .material-icons-sharp{
    min-width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/*linea*/
aside .linea{
    width: 100%;/*el ancho de la linea sera el 100% del ancho disponible del bloque padre*/
    height: 1px;/*el alto de la linea*/
    margin-top: 15px;/*este se alejara 15 pixeles del elemento superior*/
    background-color: var(--color-linea);/*color de la linea*/
}
/*el bloque de modo oscuro*/
aside .modo-oscuro{/*el elemento modo-oscuro de aside o barra lateral*/
    width: 100%;/*este bloque tendra el 100% del ancho disponible*/
    margin-bottom: 80px;/*se distanciará 80 pixeles respecto al elemento inferior*/
    border-radius: 10px;/*los lados tendran un radio de 10 pixeles*/
    display: flex;/*tendra display flex, por lo que los elementos se colocaran horizontalmente*/
    justify-content: space-between;/*los elementos estaran separados por igual lo maximo posible, el info y el switch*/
}
aside .modo-oscuro .info{/*es el texto y el icono del modo oscuro*/
    width: 150px;/*el bloque del texto modo oscuro tendra un ancho maximo de 150 pixeles*/
    height: 45px;/*el alto sera 45 pixeles para este bloque*/
    overflow: hidden;/*si se sobrepasa el bloque se oculta*/
    display: flex;/*Es para luego poder centrar horizontalmente*/
    align-items: center;/*centramos horizontalmente*/
    color: var(--color-texto-menu);/*color del texto y el icono*/
}
aside .modo-oscuro .material-icons-sharp{/*ta,año y posicion del icono de modo oscuro*/
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/*--->switch*/
.modo-oscuro .switch{/*el switch esta en el bloque de modo oscuro*/
    display: flex;/*display flex para que los hijos bloque se coloque horizontalmente*/
    align-items: center;/*centraremos horizontalmente los elementos hijos*/
    justify-content: center;/*centraremos verticalmente los elementos hijos(solo esta base)*/
    min-width: 50px;/*el ancho minimo sera de 45 pixeles*/
    height: 45px;/*la altura del bloque switch sera de 45 pixekes*/
    cursor: pointer;/*cuando el cursor este sobre este elemento pasara a ser un puntero*/
}
.modo-oscuro .base{
    position: relative;/*tendra position relative porque estarea en su posicion normal respecto a la posicion del documento, ademas esto me permite decir que el bloque hijo se posicione respecto a este bloque padre, la verdad no habria diferencia entre que sea position absolute o position relative en este caso porque el elemento que se posicionara sobre este es el hijo*/
    display: flex;/*display flex para poder centrar su elemento hijo horizontalmente*/
    align-items: center;
    width: 35px;/*el switch tendra un ancho de 35 pixeles*/
    height: 20px;/*el switch tendra un alto de 20 pixeles*/
    background-color: var(--color-switch-base);/*el color de fondo del switch*/
    border-radius: 50px;/*el radio de los bordes*/
}
.modo-oscuro .circulo{/*es el circulo del */
    position: absolute;/*se posicionara sobre el ultimo elemento posicionado*/
    width: 18px;/*el ancho del circulo sera 18 pixeles*/
    height: 90%;/*el alto del circulo sera el 90% del alto del contenedor padre*/
    background-color: var(--color-switch-circulo);/*el color de fondo del circulo*/
    border-radius: 50%;/*el radio sera del 50% del lado mas largo del bloque*/
    left: 2px;/*un desplazamiento de izquierda a derecha de 2 pixeles*/
    transition: left 0.5s ease;/*transicion de left*/
}
.modo-oscuro .circulo.prendido{/*cuando se presione left tendra este valor*/
    left: 15px;
}
/*usuario*/
aside .usuario{/*cojemos el bloque usuario*/
    width: 100%;/*el ancho del bloque usuario sera el 100%*/
    display: flex;/*display flex para que la imagen y el texto esten horizontalmente*/
}
aside .usuario img{/*ña imagen del usuario*/
    width: 50px;/*tendra un ancho de 50 pixeles*/
    min-width: 50px;/*el ancho minimo de la imagen es 50 pixeles*/
    border-radius: 10px;/*el radio de la imagen es 10 pixeles*/
}
aside .usuario .info-usuario{/*es la info del usuario*/
    width: 100%;/*tendra un ancho del 100% del bloque padre que este disponible*/
    display: flex;/*sera display flex para poder manipular sus bloques hijos*/
    align-items: center;/*los bloques hijos se centraran horizontalmente*/
    justify-content: space-between;/*los bloques hijos estaran espaciados entre si lo maximo posible*/
    color: var(--color-texto);/*color del texto y del icono de la info del usuario*/
    overflow: hidden;/*si algo sobrepasa el bloque se oculta*/
}
aside .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
aside .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
aside .usuario .email{
    overflow-wrap: anywhere;
    word-wrap: break-word; 
    font-size: 13px;
    max-width: 150px;
    transition: opacity 0.5s ease,width 0.5s ease;
}
aside .usuario .material-icons-sharp{
    font-size: 20px;
}
@media screen and (max-width: 900px){/*solo se aplicará cuando la pantalla del dispositivo tenga un ancho máximo de 900 píxeles*/
    .hero_1 .icono-menu,.hero_1 .logo,.hero_1 .favoritos_compras{
        display: flex;
    }
    .hero_1 nav,.hero_1 .modo-oscuro{
        display: none;
    }
}