@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('./modulos/modulo_encabezado_lite.css');
@import url('./modulos/modulo_iniciador.css');
@import url('./modulos/modulo_aside.css');
@import url('./modulos/modulo_footer.css');
:root{
    /*estilo cuerpo total*/
    --color-body: rgb(240,242,245);
    --color-contenido: rgb(255,255,255);
    --color-titulo-contenido: rgb(5,5,29);
    --color-parrafo-contenido: rgb(58,59,60);
    --color-fondo-icono: rgb(228,230,235);
    --color-icono-menu: rgb(5,5,5);
    --color-fondo-hover-icono: rgb(216,218,223);
    --color-icono: rgb(132,132,132);
    --color-fondo-form: rgb(132,132,132);
    --color-parrafo-form: rgb(228,230,223);
    /*estilos encabezado*/
    --color-fondo-hero_1:rgb(255,255,255);
    --color-texto-hero_1: rgb(101,103,107);
    --color-texto-secundario: rgb(132,132,132);
    /*Estilo sidebar*/
    --color-barra-lateral:rgb(255,255,255);
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);
    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb(0,0,0);
    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);
    --color-linea:rgb(180,180,180);
    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
    /*Estilo del menu usuario*/
    --color-menu-usuario: rgba(57,57,58, 0.95);
    --color-texto-menu-usuario: rgb(228,230,235);
}
.dark-mode{
    /*estilo cuerpo total*/
    --color-body: rgb(24,25,26);
    --color-contenido: rgb(36,37,38);
    --color-titulo-contenido: rgb(228,230,223);
    --color-parrafo-contenido: rgb(212,212,212);
    --color-fondo-icono: rgb(58,59,60);
    --color-icono: rgb(132,132,132);
    --color-fondo-hover-icono: rgb(78,79,80);
    --color-icono-menu: rgb(228,230,235);
    --color-fondo-form: rgb(255,255,255);
    --color-parrafo-form: rgb(5,5,29);
    /*estilos encabezado*/
    --color-fondo-hero_1:rgb(36,37,38);
    --color-texto-hero_1: rgb(176,179,184);
    --color-texto-secundario: rgb(132,132,132);
    /*Estilo sidebar*/
    --color-barra-lateral:rgb(44,45,49);
    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);
    --color-menu-hover:rgb(0,0,0);
    --color-menu-hover-texto:rgb(238,238,238);
    --color-boton:rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);
    --color-linea:rgb(90,90,90);
    --color-switch-base :rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);
    --color-scroll:rgb(68,69,74);
    --color-scroll-hover:rgb(85,85,85);
    /*Estilo del menu usuario*/
    --color-menu-usuario: rgba(200, 200, 200, 0.95);
    --color-texto-menu-usuario: rgb(5,5,5);
}

/****************************************main****************************************/
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem 0;
}
.contenido{
    width: 95%;
    max-width: 1200px;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--color-contenido);
    display: flex;
    justify-content: center;/*centrar horizontalmente*/
    flex-direction: column;
    align-items: center;/*centrar verticalmente*/
    transition: background 0.5s;
}
main .contenedor{
    justify-content: center;
    flex-direction: column;
}
.contexto{
    margin: 1rem 0;
}
.contexto h1{
    color: var(--color-titulo-contenido);
    text-align: center;
}
.contexto p{
    color: var(--color-parrafo-contenido);
    margin-top: 1rem;
    text-align: justify;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card{
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
    background-image: url('../images/universo.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.rocket{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all 2.5s;
    display: flex;
    justify-content: center;
}
.rocket img{
    height: 100px;
    width: auto;
    /*transform: scale(0.5,0.5);*/
}
.rocket::before{
    content: ' ';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 15px;
    background: linear-gradient(#00d0ff,#00d0ff40, transparent);
}
.rocket::after{
    content: ' ';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 25px;
    background: linear-gradient(#00d0ff,#00d0ff40, transparent);
    filter: blur(15px);
}
.card span{
    position: absolute;
    bottom: 200px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.contenido-card{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: var(--color-fondo-form);
    border-radius: 25px;
    top:250px;
}
.contenido-card p{
    text-align: justify;
    margin: 0 2rem;
    color: var(--color-parrafo-form);
}
.rocket.active{
    bottom: 550px;
}
.telescope{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all 2.5s;
    display: flex;
    justify-content: center;
}
.telescope img{
    height: 200px;
    width: auto;
    /*transform: scale(0.5,0.5);*/
}
.telescope.active{
    bottom: 450px;
}
.cosmonaut{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all 2.5s;
    display: flex;
    justify-content: center;
}
.cosmonaut img{
    height: 220px;
    width: auto;
    /*transform: scale(0.5,0.5);*/
}
.cosmonaut.active{
    bottom: 430px;
}
@media screen and (max-width: 900px){/*solo se aplicará cuando la pantalla del dispositivo tenga un ancho máximo de 900 píxeles*/
    .hero_1 .icono-menu,.hero_1 .logo,.hero_1 .favoritos_compras{
        display: flex;
    }
    .hero_1 nav,.hero_1 .modo-oscuro{
        display: none;
    }
}